Repository markuplint/markuplint-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, actionlint, cspell --no-must-find-files --no-progress --show-suggestions

chore: add Netlify status badge
  README.md
Due: cspell --no-must-find-files --no-progress --show-suggestions

chore: use `@xterm/xterm`
  package.json
  src/components/ConsoleOutput.tsx
  yarn.lock
Due: prettier --write, cspell --no-must-find-files --no-progress --show-suggestions

chore: add vscode settings
  .vscode/extensions.json
  .vscode/settings.json
  cspell.json
Due: prettier --write, cspell --no-must-find-files --no-progress --show-suggestions

chore: migrate to Flat Config
  .eslintrc
  eslint.config.mjs
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, cspell --no-must-find-files --no-progress --show-suggestions

chore: fix ESLint configuration to suppress errors
  eslint.config.mjs
  package.json
  src/components/ConsoleOutput.tsx
  src/server/linter/index.mjs
  yarn.lock
Due: prettier --write, eslint --fix, cspell --no-must-find-files --no-progress --show-suggestions

chore: update lint command
  package.json
Due: prettier --write, cspell --no-must-find-files --no-progress --show-suggestions

chore: fix ESLint config
  eslint.config.mjs
Due: prettier --write, eslint --fix, cspell --no-must-find-files --no-progress --show-suggestions

fix: fix ESLint errors
  src/components/ConsoleOutput.tsx
  src/server/linter/index.mjs
Due: prettier --write, eslint --fix, cspell --no-must-find-files --no-progress --show-suggestions

chore(deps): update testing packages
  package.json
  yarn.lock
Due: prettier --write, cspell --no-must-find-files --no-progress --show-suggestions

chore(deps): update devDependencies
  package.json
  yarn.lock
Due: prettier --write, cspell --no-must-find-files --no-progress --show-suggestions

Path conditions:
  prettier --write: any of: **/*.{ts,tsx,js,cjs,mjs,json}
  eslint --fix: any of: **/*.{ts,mjs,cjs,spec.js}
  actionlint: any of: .github/workflows/*.yml
  cspell --no-must-find-files --no-progress --show-suggestions: any of: **
